DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'taggedweb',
        'HOST': 'localhost',
        'USER': 'pranjal',
        # Replace with decrypted secret for prod overrides/and your local postgres password for local overrides.
        'PASSWORD': '',
        'PORT': '5432',
    },
}

# We won't be using SQLite, please use Postgres even on local, this is just kept here for quick testing purposes
# If we want to check compatibility of code/tests against SQLite as well.
# DATABASES = {
#     'default': {
#         'ENGINE': 'django.db.backends.sqlite3',
#         'NAME': BASE_DIR / 'db.sqlite3',
#     }
# }

ELASTICSEARCH_DSL = {
    'default': {
        'hosts': 'localhost:9200',
        # 'hosts': 'https://taggedweb.es.us-east-1.aws.found.io:9243',
        # 'http_auth': ('elastic', '<put-your-elastic-password-here>'),
    }
}

# Only enable this on M1 Mac deploys if using Geographic DB extensions (otherwise not needed)
# GDAL_LIBRARY_PATH = '/opt/homebrew/Cellar/gdal/3.2.2_4/lib/libgdal.dylib'
# GEOS_LIBRARY_PATH = '/opt/homebrew/Cellar/geos/3.9.1/lib/libgeos_c.dylib'
