import sentry_sdk
from sentry_sdk.integrations.django import DjangoIntegration

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'taggedweb',
        'HOST': 'localhost',
        'USER': 'pranjal',
        # Replace with decrypted secret for prod overrides/and your local postgres password for local overrides.
        'PASSWORD': '',
        'PORT': '5432',
    },
    'twblog': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': 'twblog',
        'HOST': 'localhost',
        'USER': 'pranjal',
        # Replace with decrypted secret for prod overrides/and your local postgres password for local overrides.
        'PASSWORD': '',
        'PORT': '5432',
    },
}

# We won't be using SQLite, please use Postgres even on local, this is just kept here for quick testing purposes
# If we want to check compatibility of code/tests against SQLite as well.
# DATABASES = {
#     'default': {
#         'ENGINE': 'django.db.backends.sqlite3',
#         'NAME': BASE_DIR / 'db.sqlite3',
#     }
# }

ELASTICSEARCH_DSL = {
    'default': {
        'hosts': 'localhost:9200',
        # 'hosts': 'https://taggedweb.es.us-east-1.aws.found.io:9243',
        # 'http_auth': ('elastic', '<put-your-elastic-password-here>'),
    }
}

# Only enable this on M1 Mac deploys if using Geographic DB extensions (otherwise not needed)
# GDAL_LIBRARY_PATH = '/opt/homebrew/Cellar/gdal/3.2.2_4/lib/libgdal.dylib'
# GEOS_LIBRARY_PATH = '/opt/homebrew/Cellar/geos/3.9.1/lib/libgeos_c.dylib'

sentry_sdk.init(
    dsn="https://ae3e3499901e40a0a7848f5485d32587@o1064580.ingest.sentry.io/6055486",
    integrations=[DjangoIntegration()],
    # Set traces_sample_rate to 1.0 to capture 100%
    # of transactions for performance monitoring.
    # We recommend adjusting this value in production,
    traces_sample_rate=1.0,
    # If you wish to associate users to errors (assuming you are using
    # django.contrib.auth) you may enable sending PII data.
    send_default_pii=True,
    # By default the SDK will try to use the SENTRY_RELEASE
    # environment variable, or infer a git commit
    # SHA as release, however you may want to set
    # something more human-readable.
    # release="myapp@1.0.0",
)
